Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework_simplejwt==5.5.1
django-import-export==4.4.1

celery==5.6.3
redis==8.0.0

psycopg2-binary==2.9.12

python-decouple==3.8
python-dotenv==1.1.1

gunicorn

pillow==12.2.0
openpyxl==3.1.5
pandas==3.0.3
reportlab==5.0.0
requests>=2.32.0
